# importing Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
from tabulate import tabulate
import psycopg2
from sqlalchemy import create_engine, Column, Integer, String, Float, Date, ForeignKey, MetaData, Table, inspect, text,Numeric
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship
from datetime import datetime
from decimal import Decimal
import psycopg2
import warnings
warnings.filterwarnings('ignore')

# importing CSV

In [3]:
# Try different encodings
try:
    ecom = pd.read_csv('superstore.csv', encoding='utf-8')
except UnicodeDecodeError:
    # Try alternative encodings
    ecom = pd.read_csv('superstore.csv', encoding='latin-1')

# EDA

In [4]:
#create a copy of the dataset
ecom_copy = ecom.copy()

#display the first few rows of the copied dataset
ecom_copy.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
#change the column names to lowercase and replace spaces with underscores
ecom_copy.columns = ecom_copy.columns.str.lower().str.replace(' ', '_')

#display the first few rows of the dataset
ecom_copy.head()

# number of rows and columns in the dataset
print(ecom_copy.shape)

# number of unique customers in the dataset
print(ecom_copy['customer_id'].nunique())

#show the data types of the columns
print(ecom_copy.dtypes)

#drop row_id column
ecom_copy.drop('row_id', axis=1, inplace=True)

(9994, 21)
793
row_id             int64
order_id          object
order_date        object
ship_date         object
ship_mode         object
customer_id       object
customer_name     object
segment           object
country           object
city              object
state             object
postal_code        int64
region            object
product_id        object
category          object
sub-category      object
product_name      object
sales            float64
quantity           int64
discount         float64
profit           float64
dtype: object

# Converting Column types

In [6]:
#change the column types to the appropriate data types
ecom_copy['order_date'] = pd.to_datetime(ecom_copy['order_date'])  # Already datetime64[ns]
ecom_copy['ship_date'] = pd.to_datetime(ecom_copy['ship_date'])    # Already datetime64[ns]
ecom_copy['customer_id'] = ecom_copy['customer_id'].astype('category')  # Change from object to category
ecom_copy['product_id'] = ecom_copy['product_id'].astype('category')    # Change from object to category
ecom_copy['category'] = ecom_copy['category'].astype('category')        # Change from object to category
ecom_copy['product_name'] = ecom_copy['product_name'].astype(str)       # Keep as string (object)
ecom_copy['sales'] = ecom_copy['sales'].astype(float)              # Already float64
ecom_copy['quantity'] = ecom_copy['quantity'].astype(int)          # Already int64
ecom_copy['discount'] = ecom_copy['discount'].astype(float)        # Already float64
ecom_copy['profit'] = ecom_copy['profit'].astype(float)            # Already float64
ecom_copy['customer_name'] = ecom_copy['customer_name'].astype('category')  # Change from object to category
ecom_copy['segment'] = ecom_copy['segment'].astype('category')          # Change from object to category
ecom_copy['city'] = ecom_copy['city'].astype('category')                # Change from object to category
ecom_copy['state'] = ecom_copy['state'].astype('category')              # Change from object to category
ecom_copy['country'] = ecom_copy['country'].astype('category')          # Change from object to category
ecom_copy['region'] = ecom_copy['region'].astype('category')            # Change from object to category
ecom_copy['order_id'] = ecom_copy['order_id'].astype('category')        # Change from object to category
ecom_copy['ship_mode'] = ecom_copy['ship_mode'].astype('category')      # Change from object to category
ecom_copy['postal_code'] = ecom_copy['postal_code'].astype(str)         # Change from int64 to string
ecom_copy['sub-category'] = ecom_copy['sub-category'].astype('category')  # Change from object to category

# Convert postal_code from object to category
ecom_copy['postal_code'] = ecom_copy['postal_code'].astype('category')

# Optionally convert product_name to category if there are many duplicates
# First check the cardinality ratio
product_name_ratio = ecom_copy['product_name'].nunique() / len(ecom_copy)
if product_name_ratio < 0.5:  # If less than 50% unique values
    ecom_copy['product_name'] = ecom_copy['product_name'].astype('category')

In [ ]:
ecom_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       9994 non-null   category
 1   order_date     9994 non-null   datetime64[ns]
 2   ship_date      9994 non-null   datetime64[ns]
 3   ship_mode      9994 non-null   category
 4   customer_id    9994 non-null   category
 5   customer_name  9994 non-null   category
 6   segment        9994 non-null   category
 7   country        9994 non-null   category
 8   city           9994 non-null   category
 9   state          9994 non-null   category
 10  postal_code    9994 non-null   category
 11  region         9994 non-null   category
 12  product_id     9994 non-null   category
 13  category       9994 non-null   category
 14  sub-category   9994 non-null   category
 15  product_name   9994 non-null   category
 16  sales          9994 non-null   float64
 17  quantity       9994 non-null   int64
 18  discount       9994 non-null   float64
 19  profit         9994 non-null   float64
dtypes: category(14), datetime64[ns](2), float64(3), int64(1)
memory usage: 1.1 MB

# Feature Enginnering

In [7]:
def enrich_ecom_data(df):
    """
    Adds category, subcategory, segment, and region IDs to the DataFrame.
    
    Args:
        df (pandas.DataFrame): Original DataFrame containing columns:
                              'Product ID', 'Segment', 'Region'
        
    Returns:
        pandas.DataFrame: Enriched DataFrame with ID columns
    """
    # Create a copy to avoid modifying the original
    result_df = df.copy()
    
    # 1. Extract category_id and subcategory_id from Product ID
    result_df['category_id'] = result_df['product_id'].apply(
        lambda x: x.split('-')[0] + '-' + x.split('-')[-1][:4]
    )
    
    result_df['subcategory_id'] = result_df['product_id'].apply(
        lambda x: x.split('-')[0] + '-' + x.split('-')[1] + '-' + x.split('-')[-1][:4]
    )
    
    # 2. Define the segment ID mapping
    segment_id_map = {
        'Consumer': 'CONS-1000',
        'Corporate': 'CORP-1000',
        'Home Office': 'HOME-1000'
    }
    
    # Add the segment_id column
    result_df['segment_id'] = result_df['segment'].map(segment_id_map)
    
    # 3. Define the region ID mapping
    region_id_map = {
        'Central': 'CENT-1000',
        'East': 'EAST-1000',
        'South': 'SOUT-1000',
        'West': 'WEST-1000'
    }
    
    # Add the region_id column
    result_df['region_id'] = result_df['region'].map(region_id_map)
    
    return result_df

# Apply to your ecom_copy DataFrame
ecom_copy = enrich_ecom_data(ecom_copy)

# SQLite Implementation

## Creating Tables using SQLite

In [9]:
def create_database_tables(db_name='ecom_v2.db'):
    """
    Step 1: Creates tables in SQLite database without populating them.
    
    Args:
        db_name (str): Name of the SQLite database file
        
    Returns:
        sqlite3.Connection: The database connection
    """
    # Connect to the database (creates it if it doesn't exist)
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    
    print(f"Creating database: {db_name}")
    
    # 1. Lookup tables
    print("Creating lookup tables...")
    
    # Segments lookup table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS segments (
        segment_id TEXT PRIMARY KEY,
        segment_name TEXT UNIQUE
    )
    ''')
    
    # Regions lookup table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS regions (
        region_id TEXT PRIMARY KEY,
        region_name TEXT UNIQUE
    )
    ''')
    
    # Categories lookup table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS categories (
        category_id TEXT PRIMARY KEY,
        category_name TEXT UNIQUE
    )
    ''')
    
    # Subcategories lookup table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS subcategories (
        subcategory_id TEXT PRIMARY KEY,
        subcategory_name TEXT,
        category_id TEXT,
        FOREIGN KEY (category_id) REFERENCES categories (category_id)
    )
    ''')
    
    # 2. Main tables
    print("Creating main tables...")
    
    # Customers table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS customers (
        customer_id TEXT PRIMARY KEY,
        customer_name TEXT,
        segment_id TEXT,
        country TEXT,
        city TEXT,
        state TEXT,
        postal_code TEXT,
        region_id TEXT,
        FOREIGN KEY (segment_id) REFERENCES segments (segment_id),
        FOREIGN KEY (region_id) REFERENCES regions (region_id)
    )
    ''')
    
    # Products table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS products (
        product_id TEXT PRIMARY KEY,
        product_name TEXT,
        category_id TEXT,
        subcategory_id TEXT,
        FOREIGN KEY (category_id) REFERENCES categories (category_id),
        FOREIGN KEY (subcategory_id) REFERENCES subcategories (subcategory_id)
    )
    ''')
    
    # Orders table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS orders (
        order_id TEXT PRIMARY KEY,
        order_date TEXT,
        ship_date TEXT,
        ship_mode TEXT,
        customer_id TEXT,
        FOREIGN KEY (customer_id) REFERENCES customers (customer_id)
    )
    ''')
    
    # Enhanced Order details table with feature engineering
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS order_details (
        order_id TEXT,
        product_id TEXT,
        quantity INTEGER,
        sales REAL,
        discount REAL,
        profit REAL,
        
        -- Feature engineered fields
        unit_price REAL,
        price_before_discount REAL,
        discount_amount REAL,
        cost_per_unit REAL,
        margin_percentage REAL,
        
        PRIMARY KEY (order_id, product_id),
        FOREIGN KEY (order_id) REFERENCES orders (order_id),
        FOREIGN KEY (product_id) REFERENCES products (product_id)
    )
    ''')
    
    conn.commit()
    print(f"Tables created successfully in {db_name}")
    
    return conn

## Populating the database tables with data

In [10]:
def populate_database_tables(conn, ecom_copy):
    """
    Step 2: Populates the database tables with data from the enriched DataFrame.
    
    Args:
        conn (sqlite3.Connection): The database connection
        ecom_copy (pandas.DataFrame): Enriched DataFrame with the column names as shown
        
    Returns:
        sqlite3.Connection: The database connection
    """
    cursor = conn.cursor()
    
    print("Populating database tables...")
    
    # 1. Populate lookup tables
    print("Populating lookup tables...")
    
    # Segments
    segments_df = ecom_copy[['segment_id', 'segment']].drop_duplicates()
    for _, row in segments_df.iterrows():
        cursor.execute(
            "INSERT OR IGNORE INTO segments (segment_id, segment_name) VALUES (?, ?)",
            (row['segment_id'], row['segment'])
        )
    
    # Regions
    regions_df = ecom_copy[['region_id', 'region']].drop_duplicates()
    for _, row in regions_df.iterrows():
        cursor.execute(
            "INSERT OR IGNORE INTO regions (region_id, region_name) VALUES (?, ?)",
            (row['region_id'], row['region'])
        )
    
    # Categories
    categories_df = ecom_copy[['category_id', 'category']].drop_duplicates()
    for _, row in categories_df.iterrows():
        cursor.execute(
            "INSERT OR IGNORE INTO categories (category_id, category_name) VALUES (?, ?)",
            (row['category_id'], row['category'])
        )
    
    # Subcategories
    subcategories_df = ecom_copy[['subcategory_id', 'sub-category', 'category_id']].drop_duplicates()
    for _, row in subcategories_df.iterrows():
        cursor.execute(
            "INSERT OR IGNORE INTO subcategories (subcategory_id, subcategory_name, category_id) VALUES (?, ?, ?)",
            (row['subcategory_id'], row['sub-category'], row['category_id'])
        )
    
    # 2. Populate main tables
    print("Populating main tables...")
    
    # Customers
    customers_df = ecom_copy[['customer_id', 'customer_name', 'segment_id', 'country', 'city', 
                       'state', 'postal_code', 'region_id']].drop_duplicates()
    for _, row in customers_df.iterrows():
        cursor.execute('''
        INSERT OR IGNORE INTO customers 
        (customer_id, customer_name, segment_id, country, city, state, postal_code, region_id)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?)
        ''', (row['customer_id'], row['customer_name'], row['segment_id'], row['country'], 
              row['city'], row['state'], row['postal_code'], row['region_id']))
    
    # Products
    products_df = ecom_copy[['product_id', 'product_name', 'category_id', 'subcategory_id']].drop_duplicates()
    for _, row in products_df.iterrows():
        cursor.execute('''
        INSERT OR IGNORE INTO products
        (product_id, product_name, category_id, subcategory_id)
        VALUES (?, ?, ?, ?)
        ''', (row['product_id'], row['product_name'], row['category_id'], row['subcategory_id']))
    
    # Orders - Converting timestamps to strings to avoid SQLite binding errors
    orders_df = ecom_copy[['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id']].drop_duplicates()
    for _, row in orders_df.iterrows():
        # Convert timestamps to strings in ISO format
        order_date_str = row['order_date'].strftime('%Y-%m-%d') if pd.notna(row['order_date']) else None
        ship_date_str = row['ship_date'].strftime('%Y-%m-%d') if pd.notna(row['ship_date']) else None
        
        cursor.execute('''
        INSERT OR IGNORE INTO orders
        (order_id, order_date, ship_date, ship_mode, customer_id)
        VALUES (?, ?, ?, ?, ?)
        ''', (row['order_id'], order_date_str, ship_date_str, 
              row['ship_mode'], row['customer_id']))
    
    # Order details with feature engineering
    for _, row in ecom_copy.iterrows():
        # Handle edge cases
        quantity = row['quantity'] if row['quantity'] > 0 else 1  # Avoid division by zero
        sales = row['sales'] if row['sales'] != 0 else 0.01  # Avoid division by zero
        discount = row['discount'] if 0 <= row['discount'] < 1 else 0  # Ensure discount is valid
        
        # Calculate derived metrics
        unit_price = sales / quantity
        price_before_discount = sales / (1 - discount) if discount < 1 else sales
        discount_amount = price_before_discount - sales
        cost = sales - row['profit']
        cost_per_unit = cost / quantity
        margin_percentage = (row['profit'] / sales) * 100 if sales > 0 else 0
        
        cursor.execute('''
        INSERT OR IGNORE INTO order_details
        (order_id, product_id, quantity, sales, discount, profit, 
         unit_price, price_before_discount, discount_amount, cost_per_unit, margin_percentage)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (row['order_id'], row['product_id'], row['quantity'], 
              row['sales'], row['discount'], row['profit'],
              round(unit_price, 2), round(price_before_discount, 2), 
              round(discount_amount, 2), round(cost_per_unit, 2), round(margin_percentage, 2)))
    
    # Commit changes
    conn.commit()
    print("Tables populated successfully")
    
    return conn

## Testing the DB

In [ ]:
def verify_database_population(db_name='ecom_v2.db'):
    """
    Runs a simple query to verify data was properly populated across all main tables.
    
    Args:
        db_name (str): Name of the SQLite database file
    """
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    
    print(f"Verifying data population in {db_name}...")
    
    # 1. Check record counts in all tables
    tables = ['segments', 'regions', 'categories', 'subcategories', 
              'customers', 'products', 'orders', 'order_details']
    
    print("\nTable record counts:")
    for table in tables:
        cursor.execute(f"SELECT COUNT(*) FROM {table}")
        count = cursor.fetchone()[0]
        print(f"- {table}: {count} records")
    
    # 2. Run a simple join across all tables to verify relationships
    query = """
    SELECT 
        o.order_id,
        o.order_date,
        c.customer_name,
        s.segment_name,
        r.region_name,
        p.product_name,
        cat.category_name,
        subcat.subcategory_name,
        od.quantity,
        od.sales,
        od.profit,
        od.unit_price,
        od.margin_percentage
    FROM order_details od
    JOIN orders o ON od.order_id = o.order_id
    JOIN customers c ON o.customer_id = c.customer_id
    JOIN segments s ON c.segment_id = s.segment_id
    JOIN regions r ON c.region_id = r.region_id
    JOIN products p ON od.product_id = p.product_id
    JOIN categories cat ON p.category_id = cat.category_id
    JOIN subcategories subcat ON p.subcategory_id = subcat.subcategory_id
    LIMIT 5
    """
    
    try:
        results = pd.read_sql_query(query, conn)
        print("\nSuccessfully joined all tables!")
        print("\nSample data from complete join:")
        print(results)
        
        if len(results) > 0:
            print("\n✅ Database verification complete: Data successfully populated across all tables")
        else:
            print("\n❌ Database verification failed: Join query returned no results")
            
    except Exception as e:
        print(f"\n❌ Database verification failed: {str(e)}")
    
    # 3. Extra verification: Check feature-engineered fields calculation
    verification_query = """
    SELECT
        od.order_id,
        od.product_id,
        od.quantity,
        od.sales,
        od.discount,
        od.profit,
        od.unit_price,
        od.price_before_discount,
        od.discount_amount,
        od.cost_per_unit,
        od.margin_percentage,
        -- Verify calculations are correct
        (od.sales / od.quantity) AS calculated_unit_price,
        (od.sales / (1 - od.discount)) AS calculated_price_before_discount,
        ((od.sales / (1 - od.discount)) - od.sales) AS calculated_discount_amount,
        ((od.sales - od.profit) / od.quantity) AS calculated_cost_per_unit,
        ((od.profit / od.sales) * 100) AS calculated_margin_percentage
    FROM order_details od
    WHERE od.quantity > 0 
      AND od.sales > 0
      AND od.discount < 1
    LIMIT 3
    """
    
    try:
        verification_results = pd.read_sql_query(verification_query, conn)
        print("\nFeature engineering verification:")
        
        with pd.option_context('display.max_columns', None, 'display.width', 1000):
            print(verification_results)
            
        # Calculate discrepancies
        if len(verification_results) > 0:
            discrepancies = []
            
            for col in ['unit_price', 'price_before_discount', 'discount_amount', 'cost_per_unit', 'margin_percentage']:
                calc_col = f'calculated_{col}'
                # Check if values are within 0.01 of each other (account for rounding differences)
                diff = abs(verification_results[col] - verification_results[calc_col]).max()
                if diff > 0.01:
                    discrepancies.append(f"{col} (max diff: {diff:.4f})")
            
            if discrepancies:
                print(f"\n⚠️ Feature engineering discrepancies found in: {', '.join(discrepancies)}")
            else:
                print("\n✅ Feature engineering calculations verified correctly")
    except Exception as e:
        print(f"\n❌ Feature engineering verification failed: {str(e)}")
    
    conn.close()
    print("\nDatabase connection closed.")

if __name__ == "__main__":
    # Run the verification
    verify_database_population()

Verifying data population in ecom_v2.db...

Table record counts:
- segments: 3 records
- regions: 4 records
- categories: 3 records
- subcategories: 17 records
- customers: 793 records
- products: 1862 records
- orders: 5009 records
- order_details: 9986 records

Successfully joined all tables!

Sample data from complete join:
         order_id  order_date    customer_name segment_name region_name  \
0  CA-2016-152156  2016-11-08      Claire Gute     Consumer       South
1  CA-2016-152156  2016-11-08      Claire Gute     Consumer       South
2  CA-2016-138688  2016-06-12  Darrin Van Huff    Corporate        West
3  US-2015-108966  2015-10-11   Sean O'Donnell     Consumer       South
4  US-2015-108966  2015-10-11   Sean O'Donnell     Consumer       South

                                        product_name    category_name  \
0                  Bush Somerset Collection Bookcase        Furniture
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...        Furniture
2  Self-Adhesive Address Labels for Typewriters b...  Office Supplies
3      Bretford CR4500 Series Slim Rectangular Table        Furniture
4                     Eldon Fold 'N Roll Cart System  Office Supplies

  subcategory_name  quantity     sales    profit  unit_price  \
0        Bookcases         2  261.9600   41.9136      130.98
1           Chairs         3  731.9400  219.5820      243.98
2           Labels         2   14.6200    6.8714        7.31
3           Tables         5  957.5775 -383.0310      191.52
4          Storage         2   22.3680    2.5164       11.18

   margin_percentage
0              16.00
1              30.00
2              47.00
3             -40.00
4              11.25

✅ Database verification complete: Data successfully populated across all tables

Feature engineering verification:
         order_id       product_id  quantity   sales  discount    profit  unit_price  price_before_discount  discount_amount  cost_per_unit  margin_percentage  calculated_unit_price  calculated_price_before_discount  calculated_discount_amount  calculated_cost_per_unit  calculated_margin_percentage
0  CA-2016-152156  FUR-BO-10001798         2  261.96       0.0   41.9136      130.98                 261.96              0.0         110.02               16.0                 130.98                            261.96                         0.0                  110.0232                          16.0
1  CA-2016-152156  FUR-CH-10000454         3  731.94       0.0  219.5820      243.98                 731.94              0.0         170.79               30.0                 243.98                            731.94                         0.0                  170.7860                          30.0
2  CA-2016-138688  OFF-LA-10000240         2   14.62       0.0    6.8714        7.31                  14.62              0.0           3.87               47.0                   7.31                             14.62                         0.0                    3.8743                          47.0

✅ Feature engineering calculations verified correctly

Database connection closed.

## Testing the database and its results

In [ ]:
# Reopen the connection
conn = sqlite3.connect('ecom_v2.db')

# Load individual tables
orders_df = pd.read_sql("SELECT * FROM orders", conn)
customers_df = pd.read_sql("SELECT * FROM customers", conn)
products_df = pd.read_sql("SELECT * FROM products", conn)
order_details_df = pd.read_sql("SELECT * FROM order_details", conn)
categories_df = pd.read_sql("SELECT * FROM categories", conn)
subcategories_df = pd.read_sql("SELECT * FROM subcategories", conn)
segments_df = pd.read_sql("SELECT * FROM segments", conn)
regions_df = pd.read_sql("SELECT * FROM regions", conn)

print(tabulate(orders_df.head(), headers='keys', tablefmt='psql'))
print(tabulate(customers_df.head(), headers='keys', tablefmt='psql'))
print(tabulate(products_df.head(), headers='keys', tablefmt='psql'))
print(tabulate(order_details_df.head(), headers='keys', tablefmt='psql'))
print(tabulate(categories_df.head(), headers='keys', tablefmt='psql'))
print(tabulate(subcategories_df.head(), headers='keys', tablefmt='psql'))
print(tabulate(segments_df.head(), headers='keys', tablefmt='psql'))
print(tabulate(regions_df.head(), headers='keys', tablefmt='psql'))


# Close the connection
conn.close()

+----+----------------+--------------+-------------+----------------+---------------+
|    | order_id       | order_date   | ship_date   | ship_mode      | customer_id   |
|----+----------------+--------------+-------------+----------------+---------------|
|  0 | CA-2016-152156 | 2016-11-08   | 2016-11-11  | Second Class   | CG-12520      |
|  1 | CA-2016-138688 | 2016-06-12   | 2016-06-16  | Second Class   | DV-13045      |
|  2 | US-2015-108966 | 2015-10-11   | 2015-10-18  | Standard Class | SO-20335      |
|  3 | CA-2014-115812 | 2014-06-09   | 2014-06-14  | Standard Class | BH-11710      |
|  4 | CA-2017-114412 | 2017-04-15   | 2017-04-20  | Standard Class | AA-10480      |
+----+----------------+--------------+-------------+----------------+---------------+
+----+---------------+-----------------+--------------+---------------+-----------------+----------------+---------------+-------------+
|    | customer_id   | customer_name   | segment_id   | country       | city            | state          |   postal_code | region_id   |
|----+---------------+-----------------+--------------+---------------+-----------------+----------------+---------------+-------------|
|  0 | CG-12520      | Claire Gute     | CONS-1000    | United States | Henderson       | Kentucky       |         42420 | SOUT-1000   |
|  1 | DV-13045      | Darrin Van Huff | CORP-1000    | United States | Los Angeles     | California     |         90036 | WEST-1000   |
|  2 | SO-20335      | Sean O'Donnell  | CONS-1000    | United States | Fort Lauderdale | Florida        |         33311 | SOUT-1000   |
|  3 | BH-11710      | Brosina Hoffman | CONS-1000    | United States | Los Angeles     | California     |         90032 | WEST-1000   |
|  4 | AA-10480      | Andrew Allen    | CONS-1000    | United States | Concord         | North Carolina |         28027 | SOUT-1000   |
+----+---------------+-----------------+--------------+---------------+-----------------+----------------+---------------+-------------+
+----+-----------------+-------------------------------------------------------------+---------------+------------------+
|    | product_id      | product_name                                                | category_id   | subcategory_id   |
|----+-----------------+-------------------------------------------------------------+---------------+------------------|
|  0 | FUR-BO-10001798 | Bush Somerset Collection Bookcase                           | FUR-1000      | FUR-BO-1000      |
|  1 | FUR-CH-10000454 | Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back | FUR-1000      | FUR-CH-1000      |
|  2 | OFF-LA-10000240 | Self-Adhesive Address Labels for Typewriters by Universal   | OFF-1000      | OFF-LA-1000      |
|  3 | FUR-TA-10000577 | Bretford CR4500 Series Slim Rectangular Table               | FUR-1000      | FUR-TA-1000      |
|  4 | OFF-ST-10000760 | Eldon Fold 'N Roll Cart System                              | OFF-1000      | OFF-ST-1000      |
+----+-----------------+-------------------------------------------------------------+---------------+------------------+
+----+----------------+-----------------+------------+---------+------------+-----------+--------------+-------------------------+-------------------+-----------------+---------------------+
|    | order_id       | product_id      |   quantity |   sales |   discount |    profit |   unit_price |   price_before_discount |   discount_amount |   cost_per_unit |   margin_percentage |
|----+----------------+-----------------+------------+---------+------------+-----------+--------------+-------------------------+-------------------+-----------------+---------------------|
|  0 | CA-2016-152156 | FUR-BO-10001798 |          2 | 261.96  |       0    |   41.9136 |       130.98 |                  261.96 |              0    |          110.02 |               16    |
|  1 | CA-2016-152156 | FUR-CH-10000454 |          3 | 731.94  |       0    |  219.582  |       243.98 |                  731.94 |              0    |          170.79 |               30    |
|  2 | CA-2016-138688 | OFF-LA-10000240 |          2 |  14.62  |       0    |    6.8714 |         7.31 |                   14.62 |              0    |            3.87 |               47    |
|  3 | US-2015-108966 | FUR-TA-10000577 |          5 | 957.577 |       0.45 | -383.031  |       191.52 |                 1741.05 |            783.47 |          268.12 |              -40    |
|  4 | US-2015-108966 | OFF-ST-10000760 |          2 |  22.368 |       0.2  |    2.5164 |        11.18 |                   27.96 |              5.59 |            9.93 |               11.25 |
+----+----------------+-----------------+------------+---------+------------+-----------+--------------+-------------------------+-------------------+-----------------+---------------------+
+----+---------------+-----------------+
|    | category_id   | category_name   |
|----+---------------+-----------------|
|  0 | FUR-1000      | Furniture       |
|  1 | OFF-1000      | Office Supplies |
|  2 | TEC-1000      | Technology      |
+----+---------------+-----------------+
+----+------------------+--------------------+---------------+
|    | subcategory_id   | subcategory_name   | category_id   |
|----+------------------+--------------------+---------------|
|  0 | FUR-BO-1000      | Bookcases          | FUR-1000      |
|  1 | FUR-CH-1000      | Chairs             | FUR-1000      |
|  2 | OFF-LA-1000      | Labels             | OFF-1000      |
|  3 | FUR-TA-1000      | Tables             | FUR-1000      |
|  4 | OFF-ST-1000      | Storage            | OFF-1000      |
+----+------------------+--------------------+---------------+
+----+--------------+----------------+
|    | segment_id   | segment_name   |
|----+--------------+----------------|
|  0 | CONS-1000    | Consumer       |
|  1 | CORP-1000    | Corporate      |
|  2 | HOME-1000    | Home Office    |
+----+--------------+----------------+
+----+-------------+---------------+
|    | region_id   | region_name   |
|----+-------------+---------------|
|  0 | SOUT-1000   | South         |
|  1 | WEST-1000   | West          |
|  2 | CENT-1000   | Central       |
|  3 | EAST-1000   | East          |
+----+-------------+---------------+

## Converting to the appropriate data types

In [ ]:
#convert all the tables columns data types to the appropriate data types

# Convert orders_df columns to appropriate data types
orders_df['order_date'] = pd.to_datetime(orders_df['order_date'])
orders_df['ship_date'] = pd.to_datetime(orders_df['ship_date'])
orders_df['order_id'] = orders_df['order_id'].astype('category')
orders_df['ship_mode'] = orders_df['ship_mode'].astype('category')
orders_df['customer_id'] = orders_df['customer_id'].astype('category')

# Convert customers_df columns to appropriate data types
customers_df['customer_id'] = customers_df['customer_id'].astype('category')
customers_df['customer_name'] = customers_df['customer_name'].astype(str)
customers_df['segment_id'] = customers_df['segment_id'].astype('category')
customers_df['country'] = customers_df['country'].astype('category')
customers_df['city'] = customers_df['city'].astype('category')
customers_df['state'] = customers_df['state'].astype('category')

# Convert products_df columns to appropriate data types
products_df['product_id'] = products_df['product_id'].astype('category')
products_df['product_name'] = products_df['product_name'].astype(str)
products_df['category_id'] = products_df['category_id'].astype('category')
products_df['subcategory_id'] = products_df['subcategory_id'].astype('category')

# Convert categories_df columns to appropriate data types
categories_df['category_id'] = categories_df['category_id'].astype('category')
categories_df['category_name'] = categories_df['category_name'].astype(str)

# Convert subcategories_df columns to appropriate data types
subcategories_df['subcategory_id'] = subcategories_df['subcategory_id'].astype('category')
subcategories_df['subcategory_name'] = subcategories_df['subcategory_name'].astype(str)
subcategories_df['category_id'] = subcategories_df['category_id'].astype('category')

# Convert segments_df columns to appropriate data types
segments_df['segment_id'] = segments_df['segment_id'].astype('category')
segments_df['segment_name'] = segments_df['segment_name'].astype(str)

# Convert regions_df columns to appropriate data types
regions_df['region_id'] = regions_df['region_id'].astype('category')
regions_df['region_name'] = regions_df['region_name'].astype(str)

#convert the order_details_df columns to the appropriate data types
order_details_df['order_id'] = order_details_df['order_id'].astype('category')
order_details_df['product_id'] = order_details_df['product_id'].astype('category')
order_details_df['quantity'] = order_details_df['quantity'].astype(int)
order_details_df['sales'] = order_details_df['sales'].astype(float)
order_details_df['discount'] = order_details_df['discount'].astype(float)
order_details_df['profit'] = order_details_df['profit'].astype(float)
order_details_df['unit_price'] = order_details_df['unit_price'].astype(float)
order_details_df['price_before_discount'] = order_details_df['price_before_discount'].astype(float)
order_details_df['discount_amount'] = order_details_df['discount_amount'].astype(float)
order_details_df['cost_per_unit'] = order_details_df['cost_per_unit'].astype(float)
order_details_df['margin_percentage'] = order_details_df['margin_percentage'].astype(float)


# Display the data types of the columns
print(orders_df.dtypes)
print(customers_df.dtypes)
print(products_df.dtypes)
print(order_details_df.dtypes)
print(categories_df.dtypes)
print(subcategories_df.dtypes)
print(segments_df.dtypes)
print(regions_df.dtypes)

order_id             category
order_date     datetime64[ns]
ship_date      datetime64[ns]
ship_mode            category
customer_id          category
dtype: object
customer_id      category
customer_name      object
segment_id       category
country          category
city             category
state            category
postal_code        object
region_id          object
dtype: object
product_id        category
product_name        object
category_id       category
subcategory_id    category
dtype: object
order_id                 category
product_id               category
quantity                    int64
sales                     float64
discount                  float64
profit                    float64
unit_price                float64
price_before_discount     float64
discount_amount           float64
cost_per_unit             float64
margin_percentage         float64
dtype: object
category_id      category
category_name      object
dtype: object
subcategory_id      category
subcategory_name      object
category_id         category
dtype: object
segment_id      category
segment_name      object
dtype: object
region_id      category
region_name      object
dtype: object

# Postgres Implementation

## Testing Postgres connection

In [ ]:
# Cell 2: Database connection
def connect_to_database():
    """Connect to the PostgreSQL database"""
    print("Connecting to PostgreSQL database...")
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/superstore_db')
    return engine

engine = connect_to_database()
print("Connection established successfully!")

Connecting to PostgreSQL database...
Connection established successfully!

## Define database models

In [ ]:
    Base = declarative_base()

    class Region(Base):
        __tablename__ = 'regions'
        region_id = Column(String, primary_key=True)  # Format: "SO-01"
        region_name = Column(String)
        created_at = Column(String)

    class Segment(Base):
        __tablename__ = 'segments'
        segment_id = Column(Integer, primary_key=True)
        segment_name = Column(String)

    class Category(Base):
        __tablename__ = 'categories'
        category_id = Column(String, primary_key=True)  # Format: "FUR-1000"
        category_name = Column(String)

    class Subcategory(Base):
        __tablename__ = 'subcategories'
        subcategory_id = Column(String, primary_key=True)  # Format: "FUR-BO-1000"
        subcategory_name = Column(String)
        category_id = Column(String, ForeignKey('categories.category_id'))

    class Customer(Base):
        __tablename__ = 'customers'
        customer_id = Column(String, primary_key=True)
        customer_name = Column(String)
        segment_id = Column(Integer, ForeignKey('segments.segment_id'))
        country = Column(String)
        city = Column(String)
        state = Column(String)
        postal_code = Column(String)
        region_id = Column(String, ForeignKey('regions.region_id'))

    class Product(Base):
        __tablename__ = 'products'
        product_id = Column(String, primary_key=True)
        product_name = Column(String)
        base_price = Column(Numeric(10, 4))  # Using Numeric for precise decimal storage
        cost_price = Column(Numeric(10, 4))
        category_id = Column(String, ForeignKey('categories.category_id'))
        subcategory_id = Column(String, ForeignKey('subcategories.subcategory_id'))

    class Order(Base):
        __tablename__ = 'orders'
        order_id = Column(String, primary_key=True)
        row_id = Column(String)
        order_date = Column(Date)
        ship_date = Column(Date)
        ship_mode = Column(String)
        customer_id = Column(String, ForeignKey('customers.customer_id'))

    class OrderDetail(Base):
        __tablename__ = 'order_details'
        id = Column(Integer, primary_key=True, autoincrement=True)
        order_id = Column(String, ForeignKey('orders.order_id'))
        product_id = Column(String, ForeignKey('products.product_id'))
        quantity = Column(Integer)
        unit_price = Column(Numeric(10, 4))
        list_price = Column(Numeric(10, 4))
        discount_rate = Column(Numeric(10, 4))
        discount_amount = Column(Numeric(10, 4))
        sales = Column(Numeric(10, 4))
        profit = Column(Numeric(10, 4))
        margin_percentage = Column(Numeric(10, 2))
        cost = Column(Numeric(10, 4))

    print("Database models defined successfully!")

Database models defined successfully!

## Create database tables

In [ ]:
def create_tables(engine):
    """Create all database tables based on the defined models"""
    print("Creating database tables...")
    Base.metadata.drop_all(engine)  # Drop existing tables
    Base.metadata.create_all(engine)  # Create tables
    print("Tables created successfully!")

create_tables(engine)

Creating database tables...
Tables created successfully!

## Load and explore the data

In [ ]:
def load_data():
    """Load the Superstore CSV file with proper encoding"""
    try:
        df = pd.read_csv('superstore.csv', encoding='cp1252')
    except UnicodeDecodeError:
        df = pd.read_csv('superstore.csv', encoding='latin1')
    
    print(f"Successfully loaded CSV with {len(df)} rows and {len(df.columns)} columns")
    
    # Convert dates
    df['Order Date'] = pd.to_datetime(df['Order Date'])
    df['Ship Date'] = pd.to_datetime(df['Ship Date'])
    
    return df

df = load_data()

# Display the first few rows to explore the data
print("\nFirst 5 rows of data:")
df.head()

Successfully loaded CSV with 9994 rows and 21 columns

First 5 rows of data:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

## Processing all the data with feature enginnering

In [ ]:
# Cell 6: Process regions data
def process_regions(df):
    """Process regions with custom IDs"""
    print("Processing regions...")
    regions = pd.DataFrame({'region_name': df['Region'].unique()})
    
    region_ids = []
    for region in regions['region_name']:
        if region == 'South':
            region_ids.append('SO-01')
        elif region == 'North':
            region_ids.append('NO-01')
        elif region == 'West':
            region_ids.append('WE-01')
        elif region == 'East':
            region_ids.append('EA-01')
        else:
            region_ids.append(f"{region[:2].upper()}-01")
    
    regions['region_id'] = region_ids
    regions['created_at'] = datetime.now().strftime('%Y-%m-%d')
    
    print(f"Found {len(regions)} unique regions")
    return regions

regions_df = process_regions(df)
regions_df

# Cell 7: Process segments data
def process_segments(df):
    """Process customer segments"""
    print("Processing segments...")
    segments = pd.DataFrame({'segment_name': df['Segment'].unique()})
    segments['segment_id'] = range(1, len(segments) + 1)
    
    print(f"Found {len(segments)} unique segments")
    return segments

segments_df = process_segments(df)
segments_df

# Cell 8: Process categories data
def process_categories(df):
    """Process product categories with custom IDs"""
    print("Processing categories...")
    
    # Find a sample product ID for each category
    category_product_samples = {}
    for cat in df['Category'].unique():
        sample_prod = df[df['Category'] == cat]['Product ID'].iloc[0]
        category_product_samples[cat] = sample_prod
    
    categories = pd.DataFrame({'category_name': df['Category'].unique()})
    
    # Create custom category IDs using the first 3 letters of product IDs
    categories['category_id'] = [f"{category_product_samples[cat][:3]}-1000" 
                                for cat in categories['category_name']]
    
    print(f"Found {len(categories)} unique categories")
    return categories

categories_df = process_categories(df)
categories_df

# Cell 9: Process subcategories data
def process_subcategories(df, categories_df):
    """Process product subcategories with custom IDs"""
    print("Processing subcategories...")
    
    # Find a sample product ID for each subcategory
    subcat_product_samples = {}
    for subcat in df['Sub-Category'].unique():
        sample_prod = df[df['Sub-Category'] == subcat]['Product ID'].iloc[0]
        subcat_product_samples[subcat] = sample_prod
    
    subcategories = pd.DataFrame({'subcategory_name': df['Sub-Category'].unique()})
    
    # Create custom subcategory IDs using the first 6 characters of product IDs
    subcategories['subcategory_id'] = [f"{subcat_product_samples[subcat][:6]}-1000" 
                                     for subcat in subcategories['subcategory_name']]
    
    # Create category to ID mapping
    category_map = dict(zip(categories_df['category_name'], categories_df['category_id']))
    
    # Map subcategories to categories
    subcat_to_cat = {}
    for _, row in df[['Category', 'Sub-Category']].drop_duplicates().iterrows():
        cat_id = category_map[row['Category']]
        subcat_to_cat[row['Sub-Category']] = cat_id
    
    subcategories['category_id'] = subcategories['subcategory_name'].map(subcat_to_cat)
    
    print(f"Found {len(subcategories)} unique subcategories")
    return subcategories

subcategories_df = process_subcategories(df, categories_df)
subcategories_df

# Cell 10: Process customers data
def process_customers(df, regions_df, segments_df):
    """Process customer data"""
    print("Processing customers...")
    
    # Create region and segment ID mappings
    region_map = dict(zip(regions_df['region_name'], regions_df['region_id']))
    segment_map = dict(zip(segments_df['segment_name'], segments_df['segment_id']))
    
    # Extract unique customers
    customers = df[['Customer ID', 'Customer Name', 'Segment', 'Country', 
                   'City', 'State', 'Postal Code', 'Region']].drop_duplicates('Customer ID')
    
    # Map to foreign keys
    customers['segment_id'] = customers['Segment'].map(segment_map)
    customers['region_id'] = customers['Region'].map(region_map)
    
    # Rename columns to match database schema
    customers = customers.rename(columns={
        'Customer ID': 'customer_id',
        'Customer Name': 'customer_name',
        'Country': 'country',
        'City': 'city',
        'State': 'state',
        'Postal Code': 'postal_code'
    }).drop(['Segment', 'Region'], axis=1)
    
    print(f"Found {len(customers)} unique customers")
    return customers

customers_df = process_customers(df, regions_df, segments_df)
customers_df.head()

# Cell 11: Process products data - FIXED for consistent 2 decimal places
def process_products(df, categories_df, subcategories_df):
    """Process product data with price calculations and consistent 2 decimal places"""
    print("Processing products...")
    
    # Create category and subcategory ID mappings
    category_map = dict(zip(categories_df['category_name'], categories_df['category_id']))
    subcategory_map = dict(zip(subcategories_df['subcategory_name'], subcategories_df['subcategory_id']))
    
    # Extract product data
    products_df = df[['Product ID', 'Product Name', 'Category', 'Sub-Category', 
                      'Sales', 'Quantity', 'Profit']].copy()
    
    # Calculate unit price with 2 decimal places
    products_df['unit_price'] = products_df['Sales'].div(products_df['Quantity']).round(2)
    
    # Calculate profit margin with proper handling of zero sales and 2 decimal places
    products_df['profit_margin'] = 0.0  # Default value
    mask = products_df['Sales'] > 0
    products_df.loc[mask, 'profit_margin'] = products_df.loc[mask, 'Profit'].div(
                                             products_df.loc[mask, 'Sales']).round(2)
    
    # Calculate cost per unit with 2 decimal places
    products_df['cost_per_unit'] = products_df['unit_price'].mul(
                                  1 - products_df['profit_margin']).round(2)
    
    # Group by Product ID to get average values
    products = products_df.groupby(['Product ID', 'Product Name', 'Category', 'Sub-Category']).agg({
        'unit_price': 'mean',
        'cost_per_unit': 'mean'
    }).reset_index()
    
    # Round again after grouping to ensure 2 decimal places
    products['unit_price'] = products['unit_price'].round(2)
    products['cost_per_unit'] = products['cost_per_unit'].round(2)
    
    # Ensure unique product IDs
    products = products.drop_duplicates('Product ID')
    
    # Map to category and subcategory IDs
    products['category_id'] = products['Category'].map(category_map)
    products['subcategory_id'] = products['Sub-Category'].map(subcategory_map)
    
    # Rename columns to match database schema
    products = products.rename(columns={
        'Product ID': 'product_id',
        'Product Name': 'product_name',
        'unit_price': 'base_price',
        'cost_per_unit': 'cost_price'
    }).drop(['Category', 'Sub-Category'], axis=1)
    
    print(f"Processed {len(products)} unique products")
    return products

products_df = process_products(df, categories_df, subcategories_df)
products_df.head()

# Cell 12: Process orders data
def process_orders(df):
    """Process order header data"""
    print("Processing orders...")
    
    # Extract unique orders
    orders = df[['Order ID', 'Row ID', 'Order Date', 'Ship Date', 
                'Ship Mode', 'Customer ID']].drop_duplicates('Order ID')
    
    # Rename columns to match database schema
    orders = orders.rename(columns={
        'Order ID': 'order_id',
        'Row ID': 'row_id',
        'Order Date': 'order_date',
        'Ship Date': 'ship_date',
        'Ship Mode': 'ship_mode',
        'Customer ID': 'customer_id'
    })
    
    print(f"Processed {len(orders)} unique orders")
    return orders

orders_df = process_orders(df)
orders_df.head()

# Cell 13: Process order details data - FIXED for consistent 2 decimal places
def process_order_details(df, products_df):
    """Process order details with all calculations and consistent 2 decimal places"""
    print("Processing order details...")
    
    # Extract order detail data
    order_details = df[['Order ID', 'Product ID', 'Quantity', 'Sales', 
                        'Discount', 'Profit']].copy()
    
    # Ensure product_id is a string
    order_details['product_id'] = order_details['Product ID'].astype(str)
    
    # Calculate unit price with 2 decimal places
    order_details['unit_price'] = order_details['Sales'].div(order_details['Quantity']).round(2)
    
    # Calculate list price (handle discount properly) with 2 decimal places
    order_details['list_price'] = order_details.apply(
        lambda row: row['unit_price'] if row['Discount'] == 1 
        else round(row['unit_price'] / (1 - row['Discount']), 2), 
        axis=1
    )
    
    # Calculate discount fields with 2 decimal places
    order_details['discount_rate'] = order_details['Discount'].astype(float).round(2)
    order_details['discount_amount'] = order_details['list_price'].mul(
                                     order_details['Quantity']).mul(
                                     order_details['Discount']).round(2)
    
    # Join with products to get cost price
    order_details = pd.merge(
        order_details,
        products_df[['product_id', 'cost_price']],
        left_on='product_id',
        right_on='product_id',
        how='left'
    )
    
    # Calculate cost with 2 decimal places
    order_details['cost'] = order_details['cost_price'].mul(order_details['Quantity']).round(2)
    
    # Calculate margin percentage with proper handling of zero sales and 2 decimal places
    order_details['margin_percentage'] = 0.0  # Default value
    mask = order_details['Sales'] > 0
    order_details.loc[mask, 'margin_percentage'] = order_details.loc[mask, 'Profit'].div(
                                                order_details.loc[mask, 'Sales']).mul(100).round(2)
    
    # Rename and clean up columns
    order_details = order_details.rename(columns={
        'Order ID': 'order_id',
        'Quantity': 'quantity',
        'Sales': 'sales',
        'Profit': 'profit'
    })
    
    order_details = order_details.drop(['Product ID', 'Discount'], axis=1, errors='ignore')
    
    # Add ID column
    order_details = order_details.reset_index(drop=True)
    order_details['id'] = order_details.index + 1
    
    print(f"Processed {len(order_details)} order detail records")
    return order_details

order_details_df = process_order_details(df, products_df)
order_details_df.head()

# Cell 14: Insert regions data
def insert_regions(engine, regions_df):
    """Insert regions data into database"""
    print("Inserting regions data...")
    
    # Create session
    Session = sessionmaker(bind=engine)
    session = Session()
    
    try:
        # Create Region objects and add to session
        regions = [
            Region(
                region_id=row['region_id'],
                region_name=row['region_name'],
                created_at=row['created_at']
            ) for _, row in regions_df.iterrows()
        ]
        
        session.add_all(regions)
        session.commit()
        print(f"Successfully inserted {len(regions)} regions")
        
    except Exception as e:
        session.rollback()
        print(f"Error inserting regions: {str(e)}")
        raise
    finally:
        session.close()

insert_regions(engine, regions_df)

# Cell 15: Insert segments data
def insert_segments(engine, segments_df):
    """Insert segments data into database"""
    print("Inserting segments data...")
    
    # Create session
    Session = sessionmaker(bind=engine)
    session = Session()
    
    try:
        # Create Segment objects and add to session
        segments = [
            Segment(
                segment_id=row['segment_id'],
                segment_name=row['segment_name']
            ) for _, row in segments_df.iterrows()
        ]
        
        session.add_all(segments)
        session.commit()
        print(f"Successfully inserted {len(segments)} segments")
        
    except Exception as e:
        session.rollback()
        print(f"Error inserting segments: {str(e)}")
        raise
    finally:
        session.close()

insert_segments(engine, segments_df)

# Cell 16: Insert categories data
def insert_categories(engine, categories_df):
    """Insert categories data into database"""
    print("Inserting categories data...")
    
    # Create session
    Session = sessionmaker(bind=engine)
    session = Session()
    
    try:
        # Create Category objects and add to session
        categories = [
            Category(
                category_id=row['category_id'],
                category_name=row['category_name']
            ) for _, row in categories_df.iterrows()
        ]
        
        session.add_all(categories)
        session.commit()
        print(f"Successfully inserted {len(categories)} categories")
        
    except Exception as e:
        session.rollback()
        print(f"Error inserting categories: {str(e)}")
        raise
    finally:
        session.close()

insert_categories(engine, categories_df)

# Cell 17: Insert subcategories data
def insert_subcategories(engine, subcategories_df):
    """Insert subcategories data into database"""
    print("Inserting subcategories data...")
    
    # Create session
    Session = sessionmaker(bind=engine)
    session = Session()
    
    try:
        # Create Subcategory objects and add to session
        subcategories = [
            Subcategory(
                subcategory_id=row['subcategory_id'],
                subcategory_name=row['subcategory_name'],
                category_id=row['category_id']
            ) for _, row in subcategories_df.iterrows()
        ]
        
        session.add_all(subcategories)
        session.commit()
        print(f"Successfully inserted {len(subcategories)} subcategories")
        
    except Exception as e:
        session.rollback()
        print(f"Error inserting subcategories: {str(e)}")
        raise
    finally:
        session.close()

insert_subcategories(engine, subcategories_df)

# Cell 18: Insert customers data
def insert_customers(engine, customers_df):
    """Insert customers data into database"""
    print("Inserting customers data...")
    
    # Create session
    Session = sessionmaker(bind=engine)
    session = Session()
    
    try:
        # Create Customer objects and add to session
        customers = [
            Customer(
                customer_id=row['customer_id'],
                customer_name=row['customer_name'],
                segment_id=row['segment_id'],
                country=row['country'],
                city=row['city'],
                state=row['state'],
                postal_code=str(row['postal_code']),
                region_id=row['region_id']
            ) for _, row in customers_df.iterrows()
        ]
        
        session.add_all(customers)
        session.commit()
        print(f"Successfully inserted {len(customers)} customers")
        
    except Exception as e:
        session.rollback()
        print(f"Error inserting customers: {str(e)}")
        raise
    finally:
        session.close()

insert_customers(engine, customers_df)

# Cell 19: Insert products data - Improved with consistent decimal handling
def insert_products(engine, products_df):
    """Insert products data into database with precise 2 decimal places"""
    print("Inserting products data...")
    
    # Create session
    Session = sessionmaker(bind=engine)
    session = Session()
    
    try:
        # Create Product objects with Decimal for precision, ensuring 2 decimal places
        products = [
            Product(
                product_id=row['product_id'],
                product_name=row['product_name'],
                base_price=Decimal(str(round(row['base_price'], 2))),
                cost_price=Decimal(str(round(row['cost_price'], 2))),
                category_id=row['category_id'],
                subcategory_id=row['subcategory_id']
            ) for _, row in products_df.iterrows()
        ]
        
        session.add_all(products)
        session.commit()
        print(f"Successfully inserted {len(products)} products")
        
    except Exception as e:
        session.rollback()
        print(f"Error inserting products: {str(e)}")
        raise
    finally:
        session.close()

insert_products(engine, products_df)

# Cell 20: Insert orders data
def insert_orders(engine, orders_df):
    """Insert orders data into database"""
    print("Inserting orders data...")
    
    # Create session
    Session = sessionmaker(bind=engine)
    session = Session()
    
    try:
        # Process in batches to avoid memory issues
        batch_size = 1000
        total_inserted = 0
        
        for i in range(0, len(orders_df), batch_size):
            batch = orders_df.iloc[i:i+batch_size]
            
            # Create Order objects
            orders = [
                Order(
                    order_id=row['order_id'],
                    row_id=str(row['row_id']),
                    order_date=row['order_date'],
                    ship_date=row['ship_date'],
                    ship_mode=row['ship_mode'],
                    customer_id=row['customer_id']
                ) for _, row in batch.iterrows()
            ]
            
            session.add_all(orders)
            session.commit()
            total_inserted += len(orders)
            print(f"  Inserted batch {i//batch_size + 1} ({total_inserted} orders so far)")
        
        print(f"Successfully inserted {total_inserted} orders")
        
    except Exception as e:
        session.rollback()
        print(f"Error inserting orders: {str(e)}")
        raise
    finally:
        session.close()

insert_orders(engine, orders_df)

# Cell 21: Insert order details data - Improved with consistent decimal handling
def insert_order_details(engine, order_details_df):
    """Insert order details data into database with precise 2 decimal places"""
    print("Inserting order details data...")
    
    # Create session
    Session = sessionmaker(bind=engine)
    session = Session()
    
    try:
        # Process in batches to avoid memory issues
        batch_size = 1000
        total_inserted = 0
        
        for i in range(0, len(order_details_df), batch_size):
            batch = order_details_df.iloc[i:i+batch_size]
            
            # Create OrderDetail objects with Decimal for precision, ensuring 2 decimal places
            order_details = [
                OrderDetail(
                    id=int(row['id']),
                    order_id=str(row['order_id']),
                    product_id=str(row['product_id']),
                    quantity=int(row['quantity']),
                    unit_price=Decimal(str(round(row['unit_price'], 2))),
                    list_price=Decimal(str(round(row['list_price'], 2))),
                    discount_rate=Decimal(str(round(row['discount_rate'], 2))),
                    discount_amount=Decimal(str(round(row['discount_amount'], 2))),
                    sales=Decimal(str(round(row['sales'], 2))),
                    profit=Decimal(str(round(row['profit'], 2))),
                    margin_percentage=Decimal(str(round(row['margin_percentage'], 2))),
                    cost=Decimal(str(round(row['cost'], 2)))
                ) for _, row in batch.iterrows()
            ]
            
            session.add_all(order_details)
            session.commit()
            total_inserted += len(order_details)
            print(f"  Inserted batch {i//batch_size + 1} ({total_inserted} order details so far)")
        
        print(f"Successfully inserted {total_inserted} order details")
        
    except Exception as e:
        session.rollback()
        print(f"Error inserting order details: {str(e)}")
        raise
    finally:
        session.close()

insert_order_details(engine, order_details_df)

Processing regions...
Found 4 unique regions
Processing segments...
Found 3 unique segments
Processing categories...
Found 3 unique categories
Processing subcategories...
Found 17 unique subcategories
Processing customers...
Found 793 unique customers
Processing products...
Processed 1862 unique products
Processing orders...
Processed 5009 unique orders
Processing order details...
Processed 9994 order detail records
Inserting regions data...
Successfully inserted 4 regions
Inserting segments data...
Successfully inserted 3 segments
Inserting categories data...
Successfully inserted 3 categories
Inserting subcategories data...
Successfully inserted 17 subcategories
Inserting customers data...
Successfully inserted 793 customers
Inserting products data...
Successfully inserted 1862 products
Inserting orders data...
  Inserted batch 1 (1000 orders so far)
  Inserted batch 2 (2000 orders so far)
  Inserted batch 3 (3000 orders so far)
  Inserted batch 4 (4000 orders so far)
  Inserted batch 5 (5000 orders so far)
  Inserted batch 6 (5009 orders so far)
Successfully inserted 5009 orders
Inserting order details data...
  Inserted batch 1 (1000 order details so far)
  Inserted batch 2 (2000 order details so far)
  Inserted batch 3 (3000 order details so far)
  Inserted batch 4 (4000 order details so far)
  Inserted batch 5 (5000 order details so far)
  Inserted batch 6 (6000 order details so far)
  Inserted batch 7 (7000 order details so far)
  Inserted batch 8 (8000 order details so far)
  Inserted batch 9 (9000 order details so far)
  Inserted batch 10 (9994 order details so far)
Successfully inserted 9994 order details

## Verifying database

In [ ]:
# Cell 22: Verify database
def verify_database(engine):
    """Verify data in the database"""
    print("Verifying database contents...")
    
    # Tables to check
    tables = [
        'regions', 'segments', 'categories', 'subcategories',
        'customers', 'products', 'orders', 'order_details'
    ]
    
    # Get row counts for each table
    print("Table row counts:")
    for table in tables:
        count = pd.read_sql(f"SELECT COUNT(*) FROM {table}", engine).iloc[0, 0]
        print(f"- {table}: {count} rows")
    
    # Sample data from each table
    print("\nSample data from each table:")
    for table in tables:
        print(f"\n{table.upper()} (first 3 rows):")
        sample = pd.read_sql(f"SELECT * FROM {table} LIMIT 3", engine)
        display(sample)

verify_database(engine)

# Cell 23: Run a sample query
def run_sample_query(engine):
    """Run a sample business query"""
    print("Running sample business queries...")
    
    # Query 1: Top 5 most profitable products
    query1 = """
    SELECT p.product_name, 
           SUM(od.profit)::numeric(10,2) as total_profit,
           SUM(od.sales)::numeric(10,2) as total_sales,
           COUNT(DISTINCT o.order_id) as order_count
    FROM order_details od
    JOIN products p ON od.product_id = p.product_id
    JOIN orders o ON od.order_id = o.order_id
    GROUP BY p.product_name
    ORDER BY total_profit DESC
    LIMIT 5
    """
    top_products = pd.read_sql(query1, engine)
    
    print("Top 5 Most Profitable Products:")
    display(top_products)

Verifying database contents...
Table row counts:
- regions: 4 rows
- segments: 3 rows
- categories: 3 rows
- subcategories: 17 rows
- customers: 793 rows
- products: 1862 rows
- orders: 5009 rows
- order_details: 9994 rows

Sample data from each table:

REGIONS (first 3 rows):

  region_id region_name  created_at
0     SO-01       South  2025-03-06
1     WE-01        West  2025-03-06
2     CE-01     Central  2025-03-06

SEGMENTS (first 3 rows):

   segment_id segment_name
0           1     Consumer
1           2    Corporate
2           3  Home Office

CATEGORIES (first 3 rows):

  category_id    category_name
0    FUR-1000        Furniture
1    OFF-1000  Office Supplies
2    TEC-1000       Technology

SUBCATEGORIES (first 3 rows):

  subcategory_id subcategory_name category_id
0    FUR-BO-1000        Bookcases    FUR-1000
1    FUR-CH-1000           Chairs    FUR-1000
2    OFF-LA-1000           Labels    OFF-1000

CUSTOMERS (first 3 rows):

,customer_id,customer_name,segment_id,country,city,state,postal_code,region_id
0,CG-12520,Claire Gute,1,United States,Henderson,Kentucky,42420,SO-01
1,DV-13045,Darrin Van Huff,2,United States,Los Angeles,California,90036,WE-01
2,SO-20335,Sean O'Donnell,1,United States,Fort Lauderdale,Florida,33311,SO-01

PRODUCTS (first 3 rows):

,product_id,product_name,base_price,cost_price,category_id,subcategory_id
0,FUR-BO-10000112,"Bush Birmingham Collection Bookcase, Dark Cherry",91.69,104.53,FUR-1000,FUR-BO-1000
1,FUR-BO-10000330,"Sauder Camden County Barrister Bookcase, Plank...",108.88,103.92,FUR-1000,FUR-BO-1000
2,FUR-BO-10000362,Sauder Inglewood Library Bookcases,148.75,131.70,FUR-1000,FUR-BO-1000

ORDERS (first 3 rows):

         order_id row_id  order_date   ship_date       ship_mode customer_id
0  CA-2016-152156      1  2016-11-08  2016-11-11    Second Class    CG-12520
1  CA-2016-138688      3  2016-06-12  2016-06-16    Second Class    DV-13045
2  US-2015-108966      4  2015-10-11  2015-10-18  Standard Class    SO-20335

ORDER_DETAILS (first 3 rows):

,id,order_id,product_id,quantity,unit_price,list_price,discount_rate,discount_amount,sales,profit,margin_percentage,cost
0,1,CA-2016-152156,FUR-BO-10001798,2,130.98,130.98,0.0,0.0,261.96,41.91,16.0,220.14
1,2,CA-2016-152156,FUR-CH-10000454,3,243.98,243.98,0.0,0.0,731.94,219.58,30.0,513.33
2,3,CA-2016-138688,OFF-LA-10000240,2,7.31,7.31,0.0,0.0,14.62,6.87,47.0,7.74

In [ ]:
# export tables to csv to the same folder
orders_df.to_csv('orders.csv', index=False)
customers_df.to_csv('customers.csv', index=False)
products_df.to_csv('products.csv', index=False)
order_details_df.to_csv('order_details.csv', index=False)
categories_df.to_csv('categories.csv', index=False)
subcategories_df.to_csv('subcategories.csv', index=False)
segments_df.to_csv('segments.csv', index=False)
regions_df.to_csv('regions.csv', index=False)

In [ ]:
#write a query to get the top 5 most profitable products
query1 = """
SELECT p.product_name, 
       SUM(od.profit)::numeric(10,2) as total_profit,
       SUM(od.sales)::numeric(10,2) as total_sales,
       COUNT(DISTINCT o.order_id) as order_count
FROM order_details od
JOIN products p ON od.product_id = p.product_id
JOIN orders o ON od.order_id = o.order_id
GROUP BY p.product_name
ORDER BY total_profit DESC
LIMIT 5
"""
top_products = pd.read_sql(query1, engine)
top_products

,product_name,total_profit,total_sales,order_count
0,Canon imageCLASS 2200 Advanced Copier,25199.94,61599.83,5
1,Fellowes PB500 Electric Punch Plastic Comb Bin...,7753.03,27453.38,10
2,Hewlett Packard LaserJet 3310 Copier,6983.89,18839.68,8
3,Canon PC1060 Personal Laser Copier,4570.94,11619.83,4
4,Logitech G19 Programmable Gaming Keyboard,4425.32,13756.54,15

In [ ]:
# What is the category generating the maximum sales revenue?
query2 = """
SELECT c.category_name, 
       SUM(od.sales)::numeric(10,2) as total_sales
FROM order_details od
JOIN products p ON od.product_id = p.product_id
JOIN categories c ON p.category_id = c.category_id
GROUP BY c.category_name
ORDER BY total_sales DESC
LIMIT 1
"""
top_category = pd.read_sql(query2, engine)
top_category

  category_name  total_sales
0    Technology    836154.06

In [ ]:
# What about the profit in this category?
query3 = """
SELECT c.category_name, 
       SUM(od.profit)::numeric(10,2) as total_profit
FROM order_details od
JOIN products p ON od.product_id = p.product_id
JOIN categories c ON p.category_id = c.category_id
GROUP BY c.category_name
ORDER BY total_profit DESC
LIMIT 1
"""
top_category_profit = pd.read_sql(query3, engine)
top_category_profit

  category_name  total_profit
0    Technology     145455.31

In [ ]:
#Are they making a loss in any categories?
query4 = """
SELECT c.category_name, 
       SUM(od.profit)::numeric(10,2) as total_profit
FROM order_details od
JOIN products p ON od.product_id = p.product_id
JOIN categories c ON p.category_id = c.category_id
GROUP BY c.category_name
HAVING SUM(od.profit) < 0
"""
loss_categories = pd.read_sql(query4, engine)
loss_categories

Empty DataFrame
Columns: [category_name, total_profit]
Index: []

In [ ]:
#What are 5 states generating the maximum and minimum sales revenue?
query5 = """
SELECT c.state, 
       SUM(od.sales)::numeric(10,2) as total_sales
FROM order_details od
JOIN products p ON od.product_id = p.product_id
JOIN orders o ON od.order_id = o.order_id
JOIN customers c ON o.customer_id = c.customer_id
GROUP BY c.state
ORDER BY total_sales DESC
LIMIT 5
"""
top_states = pd.read_sql(query5, engine)
top_states

          state  total_sales
0    California    451036.51
1      New York    279549.88
2         Texas    192758.20
3  Pennsylvania    142838.54
4    Washington    133177.21

In [ ]:
# What are the 3 products in each product segment with the highest sales?
query6 = """
WITH ranked_products AS (
    SELECT p.product_name, 
           s.segment_name,
           SUM(od.sales) as total_sales,
           RANK() OVER(PARTITION BY s.segment_name ORDER BY SUM(od.sales) DESC) as sales_rank
    FROM order_details od
    JOIN orders o ON od.order_id = o.order_id
    JOIN customers cu ON o.customer_id = cu.customer_id
    JOIN segments s ON cu.segment_id = s.segment_id
    JOIN products p ON od.product_id = p.product_id
    JOIN categories c ON p.category_id = c.category_id
    JOIN subcategories sc ON p.subcategory_id = sc.subcategory_id
    GROUP BY p.product_name, s.segment_name
)
SELECT product_name, segment_name, total_sales
FROM ranked_products
WHERE sales_rank <= 3
ORDER BY segment_name, sales_rank
"""
top_segment_products = pd.read_sql(query6, engine)
top_segment_products

                                        product_name segment_name  total_sales
0              Canon imageCLASS 2200 Advanced Copier     Consumer     32899.91
1  HP Designjet T520 Inkjet Large Format Printer ...     Consumer     18374.90
2       HON 5400 Series Task Chairs for Big and Tall     Consumer     17384.30
3              Canon imageCLASS 2200 Advanced Copier    Corporate     17499.95
4   3D Systems Cube Printer, 2nd Generation, Magenta    Corporate     14299.89
5  Martin Yale Chadless Opener Electric Letter Op...    Corporate      8328.10
6  Cisco TelePresence System EX90 Videoconferenci...  Home Office     22638.48
7              Canon imageCLASS 2200 Advanced Copier  Home Office     11199.97
8               Hewlett Packard LaserJet 3310 Copier  Home Office      9239.84

In [ ]:
# Are they the 3 most profitable products as well?
query7 = """
WITH ranked_products AS (
    SELECT p.product_name, 
           s.segment_name,
           SUM(od.profit) as total_profit,
           RANK() OVER(PARTITION BY s.segment_name ORDER BY SUM(od.profit) DESC) as profit_rank
    FROM order_details od
    JOIN orders o ON od.order_id = o.order_id
    JOIN customers cu ON o.customer_id = cu.customer_id
    JOIN segments s ON cu.segment_id = s.segment_id
    JOIN products p ON od.product_id = p.product_id
    JOIN categories c ON p.category_id = c.category_id
    JOIN subcategories sc ON p.subcategory_id = sc.subcategory_id
    GROUP BY p.product_name, s.segment_name
)
SELECT product_name, segment_name, total_profit
FROM ranked_products
WHERE profit_rank <= 3
ORDER BY segment_name, profit_rank
"""
top_segment_products_profit = pd.read_sql(query7, engine)
top_segment_products_profit

,product_name,segment_name,total_profit
0,Canon imageCLASS 2200 Advanced Copier,Consumer,12879.97
1,Ibico EPK-21 Electric Binding System,Consumer,4630.48
2,HP Designjet T520 Inkjet Large Format Printer ...,Consumer,4094.98
3,Canon imageCLASS 2200 Advanced Copier,Corporate,8399.98
4,"3D Systems Cube Printer, 2nd Generation, Magenta",Corporate,3717.97
5,Fellowes PB300 Plastic Comb Binding Machine,Corporate,3030.21
6,Hewlett Packard LaserJet 3310 Copier,Home Office,3935.93
7,Canon imageCLASS 2200 Advanced Copier,Home Office,3919.99
8,Canon imageCLASS MF7460 Monochrome Digital Las...,Home Office,1995.99

In [ ]:
# What are the 3 best-seller products in each product segment? (Quantity-wise)
query8 = """
WITH ranked_products AS (
    SELECT p.product_name, 
           s.segment_name,
           SUM(od.quantity) as total_quantity,
           RANK() OVER(PARTITION BY s.segment_name ORDER BY SUM(od.quantity) DESC) as quantity_rank
    FROM order_details od
    JOIN orders o ON od.order_id = o.order_id
    JOIN customers cu ON o.customer_id = cu.customer_id
    JOIN segments s ON cu.segment_id = s.segment_id
    JOIN products p ON od.product_id = p.product_id
    JOIN categories c ON p.category_id = c.category_id
    JOIN subcategories sc ON p.subcategory_id = sc.subcategory_id
    GROUP BY p.product_name, s.segment_name
)
SELECT product_name, segment_name, total_quantity
FROM ranked_products
WHERE quantity_rank <= 3
ORDER BY segment_name, quantity_rank
"""
top_segment_products_quantity = pd.read_sql(query8, engine)
top_segment_products_quantity

                             product_name segment_name  total_quantity
0                         Staple envelope     Consumer             104
1                                 Staples     Consumer              97
2                 Staples in misc. colors     Consumer              75
3                                 Staples    Corporate              90
4                         Staple envelope    Corporate              63
5                       Easy-staple paper    Corporate              44
6                       Easy-staple paper  Home Office              46
7                              Xerox 1881  Home Office              32
8  Global Stack Chair without Arms, Black  Home Office              31
9                               Xerox 226  Home Office              31

In [ ]:
# What are the top 3 worst-selling products in every category? (Quantity-wise)
query9 = """
WITH ranked_products AS (
    SELECT p.product_name, 
           c.category_name,
           SUM(od.quantity) as total_quantity,
           RANK() OVER(PARTITION BY c.category_name ORDER BY SUM(od.quantity) ASC) as quantity_rank
    FROM order_details od
    JOIN products p ON od.product_id = p.product_id
    JOIN categories c ON p.category_id = c.category_id
    GROUP BY p.product_name, c.category_name
)
SELECT product_name, category_name, total_quantity
FROM ranked_products
WHERE quantity_rank <= 3
ORDER BY category_name, quantity_rank
"""
worst_category_products = pd.read_sql(query9, engine)
worst_category_products

,product_name,category_name,total_quantity
0,Global Enterprise Series Seating Low-Back Swiv...,Furniture,1
1,"Bush Saratoga Collection 5-Shelf Bookcase, Han...",Furniture,1
2,Ultra Commercial Grade Dual Valve Door Closer,Furniture,2
3,Barricks Non-Folding Utility Table with Steel ...,Furniture,2
4,Boston 1900 Electric Pencil Sharpener,Office Supplies,1
5,Xerox 20,Office Supplies,1
6,Avery Hi-Liter Pen Style Six-Color Fluorescent...,Office Supplies,2
7,Multimedia Mailers,Office Supplies,2
8,Eureka Disposable Bags for Sanitaire Vibra Gro...,Office Supplies,2
9,Jiffy Padded Mailers with Self-Seal Closure,Office Supplies,2
10,Xerox 1989,Office Supplies,2
11,Grip Seal Envelopes,Office Supplies,2
12,Xerox 1984,Office Supplies,2
13,Avery 5,Office Supplies,2
14,Xerox 1969,Office Supplies,2
15,Penpower WorldCard Pro Card Scanner,Technology,1
16,NeatDesk Desktop Scanner & Digital Filing System,Technology,2
17,Memorex Mini Travel Drive 4 GB USB 2.0 Flash D...,Technology,2
18,PNY Rapid USB Car Charger - Black,Technology,2
19,Hewlett-Packard Deskjet F4180 All-in-One Color...,Technology,2
20,RCA ViSYS 25423RE1 Corded phone,Technology,2
21,Canon imageCLASS MF7460 Monochrome Digital Las...,Technology,2

In [ ]:
# How many unique customers per month are there for the year 2016.
query10 = """
SELECT EXTRACT(MONTH FROM order_date) as month,
       COUNT(DISTINCT customer_id) as unique_customers
FROM orders
WHERE EXTRACT(YEAR FROM order_date) = 2016
GROUP BY month
ORDER BY month
"""
unique_customers_per_month = pd.read_sql(query10, engine)
unique_customers_per_month

    month  unique_customers
0     1.0                46
1     2.0                42
2     3.0                80
3     4.0                83
4     5.0                96
5     6.0                90
6     7.0                89
7     8.0                86
8     9.0               176
9    10.0                95
10   11.0               165
11   12.0               157

In [ ]:
# find the top 5 most profitable customers
query11 = """
SELECT c.customer_name, 
       SUM(od.profit)::numeric(10,2) as total_profit,
       COUNT(DISTINCT o.order_id) as order_count
FROM order_details od
JOIN orders o ON od.order_id = o.order_id
JOIN customers c ON o.customer_id = c.customer_id
GROUP BY c.customer_name
ORDER BY total_profit DESC
LIMIT 5
"""
top_customers = pd.read_sql(query11, engine)
top_customers

   customer_name  total_profit  order_count
0   Tamara Chand       8981.32            5
1   Raymond Buch       6976.09            6
2   Sanjit Chand       5757.42            9
3   Hunter Lopez       5622.43            6
4  Adrian Barton       5444.81           10